/* sect4 styles */

.sect4 {
    background-color: $bgc_beige;

    h2 {
        font-size: $very_big_text;
        max-width: 628px;
        margin: 0 auto;
        margin-bottom: 30px;
        }

    #sect4-text {
        position: relative;
        max-width: 628px;
        padding: 30px;
        background-color: $bgc-white;
        border-radius: 5px;
        border: 1px solid lightgray;
        margin: 0 auto;

        img {
            width: 38px;
        }

        #sect4-block-quote{
            position: absolute;
            top: -20px;
            left:0;
        }
    }

    #sect4-buttons{
        max-width: 628px;
        margin: 0 auto;
        margin-top: 30px;

        .sect-buttons {
            text-align: center;

            button img{
                margin-right: 5px;
                vertical-align: middle;
            }
        }

        a {
            display: block;
            text-align: center;}

    }


    #sect4-signature{
        display: inline-block;
        margin-left: 10px;

        span {color: $light_blue;}
    }
}


/* fine sect4 styles */
