/* sect2 styles */
.sect2 {
    background-color: $bgc_beige;

    h2 {margin: 50px 0;}

    p {font-size: $normal_text;}

    hr{
        margin: 80px 0;
        color:lightgray;
        width: 100%
    }

    img{
        max-width: 280px;
    }

    .sect2-three-images{

        margin-bottom: 50px;

        .sect2-card{
            width: 33.33%;
            float: left;
            margin: 0 20px;

            img {
                max-width: 140px;
                height: 105px;
                margin: 0px 66px;
                object-fit: contain;
            }

            p{
                width: 273px;
                text-align: center;
            }
        }
    }

}
/* fine sect2 styles */
