
// colori
$light_blue: #30488f;
$dark_blue: #233569;
$bgc_white: white;
$bgc_beige: #FFE7D2;
$text_color: #58402C;

// spaziature
$section_padding: 80px;

// text font sizes
$biggest_text: 50px;
$very_big_text: 40px;
$big_text: 26px;
$medium_text: 22px;
$normal_text: 18px;
$small_text: 14px;
